
  {exp:gwcode_categories
    group_id="1"
    show_empty="yes"
    max_depth="3"
    style="linear"}

    {if cat_count == "1"}
      <ul class="nav nav-list nav-depth-{depth}">
    {/if}

    <li class="li-depth-{depth} {if last_segment_category_id == cat_id}active{/if}"><a href="{path="springtime/{complete_path}"}">{cat_name}</a>

    {if has_children_in_output}
    	<ul class="nav nav-list"> <!-- has_children_in_output -->
    {if:else}
		</li> <!-- if:else -->
    {/if}

    {if depth == "3" && depth3_end == "1"}
    	</ul> <!-- depth3_end -->

	    {if depth2_end}
	    	</li> <!-- depth3_end && depth2_end -->

	    	{if depth1_end}
	    		</ul></li> <!-- depth3_end && depth2_end && depth1_end -->
    		{/if}
	    {/if}
    {/if}

    {if depth =="2" && depth2_end == "1"}
    	</ul> <!-- depth2_end -->
    	{if depth1_end}
    		</li> <!-- depth2_end && depth1_end -->
		{/if}
    {/if}

    {if cat_count == results}
    </ul> <!-- cat_count == "results" -->
    {/if}

  {/exp:gwcode_categories}
