{!--============================================================
	Reference

	Parse Order & Preload Replace
	http://ellislab.com/expressionengine/user-guide/templates/globals/preload_replacement.html
	http://gotolow.com/blog/snippets-and-preload-replace-variables
	http://loweblog.com/downloads/ee-parse-order.pdf

	GWcode Categories

	IfElse

	Low Seg2Cat

	Mo' Variables
============================================================--}

{if cookie:orderby == 'title'}
  {preload_replace:pr_cookie_orderby="title"}
{/if}
{preload_replace:pr_cookie_orderby="edit_date"}

{if cookie:sort == 'asc'}
  {preload_replace:pr_cookie_sort="asc"}
{/if}
{preload_replace:pr_cookie_sort="desc"}

{preload_replace:pr_template_group="springtime"}
{preload_replace:pr_category_group_ids="1"}
{preload_replace:pr_channel_name="springtime"}
{preload_replace:pr_per_page="10"}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{site_name}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>

  <div class="container">

    <div class="page-header">
      <div class="row">
        <div class="span7">
          <h1>Springtime Meetup <small>March 26</small><br /></h1>
          <p>Multi-level navigation, breadcrumbs, pagination, and cookie-based sorting.</p>
        </div>
        <div class="span5">
          <br>
          <ul class="unstyled">
            <li><small>&raquo;&nbsp;Built with <a href="http://gwcode.com/add-ons/gwcode-categories">GW Categories</a>, <a href="https://github.com/rsanchez/mo_variables">Mo' Variables</a>, and <a href="http://gotolow.com/addons/low-seg2cat/">Low Seg2Cat</a>.</small></li>
            <li><small>&raquo;&nbsp;Cookie-based sorting with help from <a href="http://jquery.com">jQuery</a> and <a href="https://github.com/carhartl/jquery-cookie">jquery.cookie</a>.</small></li>
            <li><small>&raquo;&nbsp;Rapid prototyping through <a href="http://squarebit.co.uk/seed">Seed</a> and the <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>.</small></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="well well-small">

          {exp:gwcode_categories
            group_id="{pr_category_group_ids}"
            show_empty="yes"
            max_depth="3"
            style="linear"}

            {if cat_count == "1"}
              <ul class="nav nav-list">
            {/if}

            {if depth2_start}
                <ul class="nav nav-list nav-depth-{depth}">
            {/if}

            {if depth3_start}
                <ul class="nav nav-list nav-depth-{depth}">
            {/if}

            <li class="li-depth-{depth} {if last_segment_category_id == cat_id}active{/if}"><a href="{path="{pr_template_group}/{complete_path}"}">{cat_name}</a>

            {if depth3_end}
              </ul>
            {/if}

            {if depth2_end}
              </ul>
            {/if}

            {if cat_count == results}
            </ul>
            {/if}

          {/exp:gwcode_categories}

        </div>
      </div>

      <div class="span9">

        <ul class="breadcrumb">

          {if segment_category_ids}
            <li><a href="{path="/"}">Home</a> <span class="divider">/</span></li>
          {if:else}
            <li class="active">Home</li>
          {/if}

          {exp:gwcode_categories
            group_id="1"
            cat_id="{last_segment_category_id}"
            show_trail="yes"
            style="linear"}
            
            {if cat_id == last_segment_category_id}
              <li class="active">{cat_name}</li>
            {if:else}
              <li><a href="{path="{pr_channel_name}/{complete_path}"}">{cat_name}</a> <span class="divider">/</span></li>
            {/if}

          {/exp:gwcode_categories}

        </ul>

        {exp:channel:entries
          dynamic="on"
          channel="{pr_channel_name}"
          limit="{pr_per_page}"
          category="{segment_category_ids}"
          paginate="bottom"
          paginate_base="{if segment_1 == ""}{pr_channel_name}{/if}"
          disable="category_fields"
          orderby="{pr_cookie_orderby}"
          sort="{pr_cookie_sort}"}

          {if no_results}
            <div class="no_results">
              <p>No results found.</p>
            </div>
          {/if}

          {if count == 1}

            <table class="table table-striped table-hover">
              <col width="70%">
              <col width="30%">
              <thead>
                <tr>
                  {if "{pr_cookie_orderby}" == "title"}
                    <th data-order-by="title" class="title active">{if "{pr_cookie_sort}" == 'desc'}<i class="icon-chevron-down"></i>{if:else}<i class="icon-chevron-up"></i>{/if} Title</th>
                  {if:else}
                    <th data-order-by="title" class="title">Title</th>
                  {/if}

                  {if "{pr_cookie_orderby}" == "edit_date"}
                    <th data-order-by="edit_date" class="edit_date active">{if "{pr_cookie_sort}" == 'desc'}<i class="icon-chevron-down"></i>{if:else}<i class="icon-chevron-up"></i>{/if} Last Updated</th>
                  {if:else}
	                <th data-order-by="edit_date" class="edit_date">Last Updated</th>
                  {/if}
                </tr>
              </thead>
              <tbody>
          {/if}

          <tr>
            <td>{title}</td>
            <td>{edit_date format="%F %j, %Y, %g:%i %a"}</td>
          </tr>

          {if count == total_results}
              </tbody>
            </table>
          {/if}

          {paginate}

            <div class="pagination pagination-centered">
              <ul>
                {if current_page == 1}
                  <li class="disabled"><a><i class="icon-chevron-left"></i> Previous</a></li>
                {/if}

                {pagination_links}
                  {previous_page}
                    <li><a href="{pagination_url}"><i class="icon-chevron-left"></i> Previous</a></li>
                  {/previous_page}
                {/pagination_links}

                <li class="disabled"><a>{current_page} of {total_pages}</a></li>

                {pagination_links}
                  {next_page}
                    <li><a href="{pagination_url}">Next <i class="icon-chevron-right"></i></a></li>
                  {/next_page}
                {/pagination_links}

                {if current_page == total_pages}
                  <li class="disabled"><a>Previous <i class="icon-chevron-right"></i></a></li>
                {/if}
              </ul>
            </div>
          {/paginate}

        {/exp:channel:entries}

      </div>
    </div>
  </div>

  <script src="/assets/js/jquery-1.9.1.min.js"></script>
  <script src="/assets/js/jquery.cookie.js"></script>

  <script>
    jQuery(function($){

      // set current/default values
      var cookieSort = $.cookie('sort') || 'desc',
          cookieOrderBy = $.cookie('orderby') || 'edit_date';

      // bind to table header clicks
      $('th').on('click', function(e)
      {
        // if clicking on the current sort, then just reverse orderby
        if($(this).data('orderBy') == cookieOrderBy)
        {
          cookieSort = (cookieSort == 'asc') ? 'desc' : 'asc';
        }
        // just change orderby
        else
        {
            cookieOrderBy = $(this).data('orderBy');
        }

        // ensure our cookies are saved across our entire site path
        $.cookie('orderby', cookieOrderBy, { path: '/' });
        $.cookie('sort', cookieSort, { path: '/' });

        // reload the browser for change to take effect
        location.reload();
      });
    });
  </script>

</body>
</html>
